#carouselId {
	&.carousel {
		background: #eee;
	}
	.carousel-inner {
		height: 300px;
		@include respond-to('desktop') {
			height: 360px;
		}
	}
	.carousel-item {
		height: inherit;
		img {
			min-height: 300px;
			margin-left: auto;
			margin-right: auto;
			float: right;
			display: block;
			@include respond-to('phone-only') {
				width: 100%;
			}
			@include respond-to('desktop') {
				min-height: 360px;
				width: 100%;
			}
		}
		@include respond-to('phone-only') {
			&:before{
				background: rgba(0, 0, 0, 0.7);
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				display: block;
			}
		}
	}
	.carousel-caption {
		@include font-size(24px);
		line-height: 24px;      
		@include respond-to('desktop') {
			@include font-size(28px);      
		}
		text-align: left;
		top: 0;
		bottom: 0;
		text-transform: capitalize;
		left: 11%;
		right: 11%;
		display: table;
		height: inherit;
		width: 78%;
		@include respond-to('tablet-portrait') {
			width: 38%;
			right: 51%;
		}
		h2 {
			color: $brand-color;
			font-family: $font-primary;
			font-weight: normal;  
			margin-bottom: 0.5rem;   
			@include font-size(26px);      
			@include respond-to('tablet-portrait') {
				@include font-size(40px);  
				line-height: 40px;
			}
			@include respond-to('desktop') {
				@include font-size(50px);      
			}
		}
		p {
			font-weight: 100;
			margin-bottom: 0.5rem;
		}
		a {
			padding: .5rem;
			margin: 0.5rem 1rem 0;
		}
	}
	.alignment {
		display: table-cell;
		vertical-align: top;
	}
	.carousel-control-next,
	.carousel-control-prev {
		width: 10%;
	}
	&.blogBanner .alignment {
		vertical-align: bottom !important;
	}
	.btn-outline-secondary {
		color: #FFF !important;
		border-color: #FFF !important;
	}
}


#reviewContainer {
	height: unset;
	display: flex;
	overflow: hidden;
	.carousel-caption {
		color:#000;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: unset;
	}
	.section-title {
		padding-top: 15px;
		padding-bottom: 5px;
		margin: 0;
		.rating-2 i {
			color: #c7b270;
		}
	}
}