// -----------------------------------------------------------------------------
// This file contains custom styles for form elements
// -----------------------------------------------------------------------------


.form-control {
	border: solid 1px $brand-color;
	text-overflow: ellipsis;
	/* Below is required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

// Custom Checkbox
input {
	&.checkbox {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	&:checked ~ .checkmark {
		background-color: $white-base;
		&:after {
			display: block;
		}
	}
}
.checkmark {
	margin: 2px 0;
	height: 20px;
	min-width: 20px;
	@include gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
	background-color: $white-base;
	border-radius: $border-radius;
	border: solid 1px $brand-color; 
	&:after {
		content: "";
		position: relative;
		display: none;
		right: -7px;
		top: 3px;
		width: 5px;
		height: 10px;
		border: solid $brand-color;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	}
}

.radio label {
	display: inline-flex;
	margin-bottom: 1rem;
}
.radio .option-text {
    line-height: 23px; 
}


.custom-upload {
	input[type="file"] {
		display: none;
	}
}


// Custom Dropdown
.custom-dropdown {
	cursor: pointer;
	display: block;
	float: left;
	font-weight: normal;
	outline: none;
	padding-left: 15px;
	padding-right: 45px;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	white-space: nowrap;
	width: auto;
	overflow: unset !important;
	@include on-event {
		border-color: lighten($brand-color, 4%);
	}

	// Arrow
	&:after { 
	  height: 0;
	  width: 0;
	  border-left: 4px solid transparent;
	  border-right: 4px solid transparent;
	  border-top: 4px solid $brand-color;
	  transform: origin(50% 20%);
	  transition: all 0.125s ease-in-out;
	  content: '';
	  display: block; 
	  margin-top: -2px;
	  pointer-events: none;
	  position: absolute; 
	  right: 10px; top: 50%; 
	}
	&.open {
		@extend :active;
		&:after {
			transform: rotate(-180deg);
		}
		.list {
			transform: scale(1);
			opacity: 1;
			pointer-events: auto;
			max-height: 20.6rem;
			min-width: 6.5rem;
			overflow-y: scroll;
		}
		.option {
			cursor: pointer;
		}
	}
	&.wide {
	  width: 100%;
	  .list {
		left: 0 !important;
		right: 0 !important;
	  }
	}
	.swatch-color{
	  width: 1.5rem;
	  height: 1.5rem;
	  border-radius: 50%;
	  position: absolute;
	  right: 13px;
	  margin-top: 0.5rem;
	}
	.active-swatch .swatch-color{
	  right: 24px;
	}
	.list {
	  box-sizing: border-box;
	  transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
	  transform: scale(.75);
	  transform-origin: 50% 0;
	  box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
	  background-color: #fff;
	  border-radius: $border-radius;
	  margin-top: 4px;
	  padding: 3px 0;
	  opacity: 0;
	  overflow: hidden;
	  pointer-events: none;
	  position: absolute;
	  top: 100%; left: 0;
	  z-index: 999;
	  &:hover .option:not(:hover) {
		background-color: transparent !important;
	  }
	}
	.option {
	  cursor: default;
	  font-weight: 400;
	  line-height: $input-height - 2;
	  outline: none;
	  padding-left: 15px;
	  padding-right: 45px;
	  text-align: left;
	  transition: all 0.2s;
	  &:hover, &:focus { 
		background-color: $gray_lighter !important;
	  }
	  &.selected { 
		font-weight: 600;
	  }
	  &.selected:focus { 
		background: $gray_lighter;
	  }
	}
}
  
  
.swatch-dropdown {
	display: inline-block;
	// Hide native dropdown
	select {
		display: none;
	}
	a {
		color: #aaa;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: #666;
		}
	}
}

.outofstock-message {
	display: block;
	padding: 0.5rem;
}
  