// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Promotions banner
.MarketingContainer__marketing-container {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: $promo-height;
	background-color: $brand-color;
	transition: margin-top .4s ease-out;
	z-index: 105;
	.MarketingContainer__promotion--content {
		margin: 0 2vw;
		@include font-size(14px);
		color: $white-base;
		a{
			color: $white-base;
		}
	}
}

// Header Elements
.Header__container {
	position: fixed;
	top: 0;
	z-index: 104;
	width: 100%;
	background: $white-base;
	height: 0;
	&.Header__container--headroom{
		-webkit-transition: -webkit-transform .25s ease-in-out;
		transition: -webkit-transform .25s ease-in-out;
		-o-transition: transform .25s ease-in-out;
		transition: transform .25s ease-in-out;
		transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
		will-change: transform;
	}
	&.Header__container--pinned {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	&.Header__container--unpinned-full {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	&.Header__container--unpinned {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		@include respond-to('tablet-portrait') {
			-webkit-transform: translateY(-2rem);
			-ms-transform: translateY(-2rem);
			transform: translateY(-2rem);
		}
	}
	.Header__inner {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: $header-height;
		background: $white-base;
		z-index: 103;
		border-bottom: 1px solid $gray-lighter;
		border-top: 1px solid $gray-lighter;
		@include respond-to('tablet-portrait') {
			padding-right: .75rem;
			padding-left: .75rem;
		}
	}
}

// Mobile Menu Button (Top Left)
.Header__nav-mobile-menu {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	background: $brand-color;
	@include respond-to('tablet-portrait') {
		display: none;
	}
	.Header__menu-button {
		padding: .9375rem;
		.Header__menu-button--container {
			position: relative;
			display: block;
			width: 1.125rem;
			height: 1rem;
			.Header__menu-button--item {
				position: absolute;
				left: 0;
				display: block;
				width: 100%;
				height: .125rem;
				border-radius: .125rem;
				background-color: $white-base;
				-webkit-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: left .25s ease-in-out, top .25s ease-in-out, width .25s ease-in-out, -webkit-transform .25s ease-in-out;
				transition: left .25s ease-in-out, top .25s ease-in-out, width .25s ease-in-out, -webkit-transform .25s ease-in-out;
				-o-transition: left .25s ease-in-out, top .25s ease-in-out, transform .25s ease-in-out, width .25s ease-in-out;
				transition: left .25s ease-in-out, top .25s ease-in-out, transform .25s ease-in-out, width .25s ease-in-out;
				transition: left .25s ease-in-out, top .25s ease-in-out, transform .25s ease-in-out, width .25s ease-in-out, -webkit-transform .25s ease-in-out;
				&:first-child {top: 0;}
				&:nth-child(2),
				&:nth-child(3){top: .4375rem}
				&:nth-child(4) {top: .875rem}
			}
		}
	}
	&.Header__nav-mobile-menu--active {
		.Header__menu-button--item {
			&:first-child {
				top: .4375rem;
				left: 50%;
				width: 0;
			}
			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&:nth-child(4) {
				top: .4375rem;
				left: 50%;
				width: 0;
			}
		}
	}
}

// Logo img Header
.Header__logo {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 30%;
	.Header__logo-img{
		width: 9rem;
		margin-bottom: .25rem;
		fill: $brand-color;
		@media screen and (max-width: 768px) {
			margin-left: 0.5rem;
		}
	}
	@include on-event {
		padding-left: 0.3rem;
	}
}

// Transparency behind dropdowns
.Header__overlay {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	background: $black-base;
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	-webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
	transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
	will-change: opacity, visibility;
	@include respond-to('tablet-portrait') {
		height: calc(100vh + 5.625rem);
		-webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
		transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
		-webkit-transition-delay: .15s;
		-o-transition-delay: .15s;
		transition-delay: .15s;
	}
	&.Header__overlay-visible {
		visibility: visible;
		opacity: .5;
	}
}

.Header__header-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	@include respond-to('tablet-portrait') {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0;
	}
}

// Shopping Cart Icon in header
.CartIcon__cart-icon {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding: 0 0.7rem;
	color: $brand-color;
	-webkit-transition: color .15s ease-out;
	-o-transition: color .15s ease-out;
	transition: color .15s ease-out;
	margin-left: auto;
	@media (min-width: 1024px) {
		padding: 0 1rem;
	}
	.CartIcon__cart-icon-graphic {
		width: 1.5rem;
		height: 1.25rem;
		.CartIcon__cart-icon--outer {
			fill: $brand-primary;
		}
		.CartIcon__cart-icon--inner {
			fill: #d7ecf7;
		}
	}
	.CartIcon__cart-icon-counter {
		position: absolute;
		top: .1875rem;
		right: .1875rem;
		width: 1.4375rem;
		height: 1.4375rem;
		@include font-size(11px);
		text-align: center;
		color: $brand-color;
		border: 3px solid $white-base;
		border-radius: 50%;
		background-color: #f6db86;
	}
}

.Header__drawer {
	position: absolute;
	left: 0;
	visibility: hidden;
	width: 100%;
 	transform: translateY(-100%);
	transition: transform .25s ease-in-out, visibility .25s ease-in-out;
	&.Header__drawer--visible {
		visibility: visible;
		transform: translateY(0);
	}
}

.Header__nav-actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	height: 100%;
	width: 30%;

	@media screen and (max-width: 767px) {
		position: absolute;
		top: 0;
		right: .375rem;
		-webkit-transition: opacity .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
		transition: opacity .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out, transform .25s ease-in-out, visibility .25s ease-in-out;
		transition: opacity .25s ease-in-out, transform .25s ease-in-out, visibility .25s ease-in-out;
		transition: opacity .25s ease-in-out, transform .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
		&.Header__nav-actions--hide-all {
			visibility: hidden;
			opacity: 0;
			-webkit-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			transform: translateY(-100%);
			pointer-events: none
		}
	}
}
.Header__nav-actions--to-hide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}


.Header__action-button {
	position: relative;
	display:none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	padding: 0 0.7rem;
	@include respond-to('phone-only') {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	@media (min-width: 1024px) {
		padding: 0 1rem;
	}
}

// Keyword Icon in header
.Header__keyword-icon {
	width: 1.4375rem;
	height: 1.25rem;
	fill: $brand-color;
	img {
		position: relative;
		top: -3px;
	}
}

.Header__action--keyword {
	padding: 0.4rem 0;
	@include respond-to('phone-only') {
		.Header__action--searchForm {
			display:none;
		}
	}
	input {
		width:90%;
		float:right;
		@include font-size(13px);
		@include input-placeholder {
			color: $gray;
		}
	}
	.Header__action--keyword-icon{
		top: -2.3rem;
		float: right;
		position: relative;
		right: 0;
		color: $brand-primary;
		padding: 0.7rem;
		font-size: 1rem;
		z-index: 100;
		pointer-events: none;
	  }
}

// X Icon for keyword search dismissal
.Header__close-button {
	position: absolute;
	top: 0;
	right: .25rem;
	-webkit-transition: visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
	transition: visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
	-o-transition: transform .25s ease-in-out, visibility .25s ease-in-out;
	transition: transform .25s ease-in-out, visibility .25s ease-in-out;
	transition: transform .25s ease-in-out, visibility .25s ease-in-out, -webkit-transform .25s ease-in-out;
	&.Header__close-button--hidden {
		visibility: hidden;
		opacity: 0;    
		display: none;
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
		pointer-events: none;
	}
	.Header__close-icon {
		width: .875rem;
		height: .875rem;
		fill: $gray-dark;
	}
	@include respond-to('tablet-portrait') {
		display: none;
	}
}

// Experimenting with this
.Header__underline {
	display: none;
	@include respond-to('tablet-portrait') {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		opacity: 0;
		width: 0;
		height: .125rem;
		z-index: 100;
		background: $brand-color;
		-webkit-transition: opacity .15s ease, width .15s ease, -webkit-transform .15s ease;
		transition: opacity .15s ease, width .15s ease, -webkit-transform .15s ease;
		-o-transition: opacity .15s ease, transform .15s ease, width .15s ease;
		transition: opacity .15s ease, transform .15s ease, width .15s ease;
		transition: opacity .15s ease, transform .15s ease, width .15s ease, -webkit-transform .15s ease
	}
}
