.dropdown { 
  @include gradient(rgba(255,255,255,.25), rgba(255,255,255,0));
  background-color: $gray_lighter;
  border-radius: $border_radius;
  border: solid 1px $gray_light; 
  box-shadow: 0 1px 0 rgba(0,0,0,0.0075);
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: 15px;
  padding-right: 45px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
  &:focus {
    background-color: darken($gray_lighter, 2%);
  }
  &:hover {
    background-color: darken($gray_lighter, 1%);
  }
  &:active {
    background-color: darken($gray_lighter, 2.5%) !important;
    border-color: darken($gray_light, 4%);
    box-shadow: 0 1px 4px rgba(0,0,0,.05) inset;
  }
  // Arrow
  &:after { 
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block; 
    margin-top: -2px;
    pointer-events: none;
    position: absolute; 
    right: 10px; top: 50%; 
  }
  &.open {
    @extend :active;
    &:after {
      transform: rotate(-180deg);
    }
    .list {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
    .option {
      cursor: pointer;
    }
  }
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  .swatch-color{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    right: 13px;
    margin-top: 0.5rem;
  }
  .active-swatch .swatch-color{
    right: 24px;
  }
  .list {
    box-sizing: border-box;
    transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
    transform: scale(.75);
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    background-color: #fff;
    border-radius: $border_radius;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    z-index: 999;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: default;
    font-weight: 400;
    line-height: $input_height - 2;
    outline: none;
    padding-left: 15px;
    padding-right: 45px;
    text-align: left;
    transition: all 0.2s;
    &:hover, &:focus { 
      background-color: $gray_lighter !important;
    }
    &.selected { 
      font-weight: 600;
    }
    &.selected:focus { 
      background: $gray_lighter;
    }
  }
}


.swatch-dropdown {
	margin: 0 auto;
	max-width: 120px;
	// Hide native dropdown
	select {
		display: none;
	}
	a {
		color: #aaa;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		&:hover {
			color: #666;
		}
  }
  
	.swatch-black {background-color: #000;}
	.swatch-dark-brown {background-color: #23120B;}
	.swatch-medium-brown {background-color: rgb(82, 48, 28);}
	.swatch-light-brown {background-color: #9d6044;}
	.swatch-brown {background-color: #5A3825;}
	.swatch-auburn {background-color: #912e17;}
	.swatch-medium-blonde {background-color: #f1e49e;}
	.swatch-blonde {background-color: #faf0be;}
	.swatch-light-grey {background-color: #e0e3e3;}

}

